// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-color: rgb(247, 247, 247);
$main_bg_color: white;
$navbar_bg_color: white;
